
.carousel-item {
    height: 500px;
}
.carousel-item img{
    height: 500px;
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    text-align: center;
    
   
  }


  footer a :link {
      text-decoration: none;
  }
.btn-primary {
    border-color: #FF550B!important;
    background-color: #FF550B!important;
}
#NewStyle{
    background-color: #0DE2EA;
    color: #B20600;
    font-family: sans-serif;
}
#conStyle{
   
   
}
body{
    
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-title{
    color: #B20600;
<<<<<<< HEAD
    
}
=======
    text-decoration: solid!important;
}
>>>>>>> bef942661ed1ce892385f66271ebdafbb1805745
