
.HiddenContent{
    display: none;
}
  .caption{
      text-align: center;
     
  }
  .caption:hover + .HiddenContent {
      display: block;
      color: blue;
  }
  #caption{
      text-align: justify;
  }
  footer a :link {
    text-decoration: none;
}
