
.HiddenContent{
    display: none;
}
  .caption{
      text-align: center;
      text-decoration: underline;
     
  }
  .caption:hover + .HiddenContent {
      display: contents;
      
      color: #CC330D;
      text-align: center;
     
  }

  #caption{
      text-align: justify;
  }
  footer a :link {
    text-decoration: none;
}
.container{
    color: #B20600;
    font-family: sans-serif;
}
body{
    
}
figure:hover{
    transform: scale(1.05);
    text-decoration: solid;
    background-color: #E8E8E8!important;
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 text-align: center!important;
 
}